/* CIS363B module3 CSS requirements */
/* ========= Neo Temores ========== */
h1 {
  background-color: #f03;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: #003;
  text-align: center;
  margin: 35px;
}

h2 {
  color:#333;
  font-weight: bold;
}

p {
  font-family: Georgia;
  color: #030;
  padding: 15px;
}

li {
  font-family: Arial;
  background-color: gray;
  color: black;
  font-weight: bold;;
  font-size: 18pt;
}

a {
  color: #cc0000;
}

a:hover {
  color: #060;
}
/* ================================ */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  display: flex;
  justify-content: space-between;
}
#header-title{
  flex-basis: 80%;
}
hr{
  min-width: 100%;
}
footer {
  margin-top: auto;
}
/* 
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p {
    margin: 0 5px 0 5px;
    padding: 0;
    font-weight: normal;
  }

  p.indent{
    text-indent: 25px;
  }

  ol, ul {
    list-style: inside;
  }
  ul.sub-li{
    list-style: circle;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  hr{
    min-width: 100%;
    margin-top: 0;
  }

body{
  display: flex;
  flex-direction: column;
  gap:5px;
  min-height: 100dvh;
  background-color: #eeee;
}

#header, #navbar{
    display: flex;
    padding: 10px;
    gap:5px;
    align-items: center;
    text-align: center;
}

#header, #test-unicode-page{
  justify-content: space-between;
}
#navbar{
  justify-content: space-evenly;
}

input.btn:hover{
  cursor: pointer;
}
input#email-subject{
  width: 100%;
  padding: 5px;
}

#footer{
  margin-top: auto;
}
.footer-div{
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  gap: 10px;
  justify-content: space-evenly;
}

#home-emoji-div {
  text-align: center;
}

#home-emoji{
  font-size: 150px;
}
#home-emoji:hover{
  cursor: default;
}


#view-all-page, #category-group-page, .emoji-card, #test-unicode-page{
  display: flex;
  padding: 10px;
  gap: 5px;
}
#view-all-page, #category-group-page{
  justify-content: center;
  flex-wrap: wrap;
}
.emoji-card {
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 20%;
  min-width: min-content
}
.emoji{
  align-self: center;
  font-size: 40px;
}

span#email-emoji{
  font-size: 25px;
}
textarea#email-body{
  width: 100%;
  resize: none;
  padding: 5px;
}


#entered-unicode-div{
  border: 1px solid red;
  min-height: 200px;
}
#entered-unicode{
  font-size: 100px;
  text-align: center;
} */