
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  hr{
    min-width: 100%;
    margin-top: 0;
  }

body{
  display: flex;
  flex-direction: column;
  gap:5px;
  min-height: 100dvh;
  background-color: #eeee;
}

#header, #navbar{
    display: flex;
    padding: 10px;
    gap:5px;
    align-items: center;
    text-align: center;
}

#header, #test-unicode-page{
  justify-content: space-between;
}
#navbar{
  justify-content: space-evenly;
}

#footer{
  margin-top: auto;
}
.footer-div{
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  gap: 10px;
  justify-content: space-evenly;
}

#view-all-page, #category-group-page, .emoji-card, #test-unicode-page{
  display: flex;
  padding: 10px;
  gap: 5px;
}
#view-all-page, #category-group-page{
  justify-content: center;
  flex-wrap: wrap;
}
.emoji-card {
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 20%;
  min-width: min-content
}
.emoji{
  align-self: center;
  font-size: 40px;
}


