html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #9995;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* ^^^^ simple css reset ^^^^ */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  gap: 1rem;
}
header,
footer {
  min-width: 100%;
}
#titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.5rem 0.5rem 0.25rem;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.5rem;
  font-size: 1.8rem;
  text-shadow: 1px 1px 2px darkblue;
}

#logo {
  border: 1px solid darkblue;
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
  max-height: 100px;
  max-width: 100px;
  box-shadow: 5px 5px 5px #555;
}
nav {
  display: flex;
  gap: 10vw;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 139, 0.25);
}
nav a {
  height: 100%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: darkblue;
}
nav a:hover {
  background-color: rgba(0, 0, 139, 0.5);
  color: white;
}
.activePage {
  background-color: darkblue;
  color: white;
  font-weight: bold;
}
.activePage:hover {
  background-color: darkblue;
}
h2#welcomeHomeTitle {
  text-align: center;
}
code {
  font-size: 0.9rem;
}
a:has(code) {
  text-decoration: none;
  color: darkblue;
}
a:has(code):hover {
  font-weight: bold;
}
div#major {
  text-align: center;
}
p {
  padding: 1rem;
}
ul {
  margin-top: 0;
  list-style-type: circle;
}

#classUlContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px 0 0;
}

@media screen and (max-width: 705px) {
  #classUlContainer {
    flex-direction: column;
    width: fit-content;
    padding: 0;
  }
}

#classUlContainer p {
  text-decoration: underline;
}
#careerImg,
#majorImg {
  max-width: 50%;
  float: right;
  margin: 10px;
  border-radius: 10px;
}
#careerInfoContainer span {
  font-weight: bold;
  font-size: 1.1rem;
}

#careerInfoContainer li span {
  font-weight: bold;
  font-size: 0.9rem;
}

#careerInfoContainer ul li {
  font-style: italic;
  padding: 5px;
}

footer {
  background-color: rgba(0, 0, 139, 0.25);
  margin-top: auto;
  text-align: center;
  padding: 5px;
  font-style: italic;
}
