html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* ^^^^ simple css reset ^^^^ */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  gap: 1rem;
}
header,
footer {
  min-width: 100%;
}
#titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}
#logo {
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
  max-height: 100px;
  max-width: 100px;
  box-shadow: 5px 5px 5px #555;
}
nav {
  display: flex;
  gap: 10vw;
  justify-content: center;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  padding: 0.5rem;
}
div#major {
  text-align: center;
}
p {
  padding: 1rem;
}

footer {
  border-top: 1px solid #555;
  margin-top: auto;
  text-align: center;
  padding: 5px;
}
