* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #333;
  background-color: #9995
}

header .containerLogoTitle {
  height: 100px;
  overflow: hidden;
}

.headerLogo {
  width: 100%;
}

.headerTitle {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  position: absolute;
  top: 40px;
  color: #ddd;
  margin-left: 1rem
}

nav {
  display: flex;
  background-color: #333;
  justify-content: space-around;
}

.navbarLink {
  color: #ddd;
  text-decoration: none;
  padding: 1vw;
}

.navbarLink:hover {
  background-color: #444;
  color: #fff;
  border-bottom: 4px solid lightgreen;
}

.activeLink,
.activeLink:hover {
  background-color: #222;
  color: #fff;
  font-weight: bold;
  border-bottom: 4px solid green;
}

main {
  padding: 1rem;
}

img,
#containerContactImg {
  border: 2px solid darkgreen;
  box-shadow: 5px 5px 5px #3335
}

.pageImg {
  float: right;
  margin: 0 1rem 1rem;
  width: 200px;
}

#homeImg {
  border-radius: 50%;
}


#educationImg {
  padding-bottom: 0;
}

#skillsImg {
  width: 300px;
}

#containerContactImg {
  height: 100px;
  max-width: 400px;
  overflow: hidden;
  display: block;
  align-items: center;
  margin: auto;
  margin-bottom: 1rem;
}

#contactImg {
  width: 100%;
  position: relative;
  top: -60%;
  border: none;
}

@media screen and (max-width: 535px) {

  #educationImg,
  #skillsImg,
  #portfolioImg {
    float: none;
    width: 75%;
    padding: 0;
    display: block;
    margin: 0 auto 1rem;
  }

}

.educationGradYear {
  font-size: .9rem;
  vertical-align: bottom
}


li {
  margin-bottom: .5rem;
  list-style-type: circle;
}

li div span {
  display: inline-block;
}

#containerSkills {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

p i,
h1,
h4 {
  font-family: 'Times New Roman', Times, serif;
}

h4 {
  border-bottom: 1px solid darkgreen;
  width: fit-content;
  margin-bottom: 0;
}

.skillsUL {
  box-shadow: 5px 5px 5px #3335;
  border: 1px solid #3335;
  padding: .5rem;
  list-style-position: inside;
}

fieldset {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  border: 1px solid darkgreen;
}

#submitBtn:hover {
  /* background-color: rgb(0, 100, 0);
  color: #fff */
  color: darkgreen;
  background-color: initial;
  border-color: green;
}

#clearBtn {
  width: 20%;
  margin-left: auto;
  /* background-color: rgb(139, 0, 0) */
}

#clearBtn:hover {
  color: darkred;
  background-color: initial;
  border-color: red
}

label:not(.ignore),
#submitBtn {
  margin-top: .5rem;
}

.formBtn {
  /* font-weight: bold;
  box-shadow: 2px 2px 2px #333;
  opacity: .75;
  border-radius: 25px;
  color: #fff */
  box-shadow: 2px 2px 2px #333;
  border-radius: 25px;
  background-color: #444;
  color: #ddd;
  transition: all .2s
}

.formBtn:hover {
  cursor: pointer;
  font-weight: bold;
}

.containerPortfolioScoll {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 560px;
  overflow: hidden;
  scroll-behavior: smooth;
  margin: 0 auto;
}

.quickScroll {
  scroll-behavior: initial !important;
}

#containerVideoTitle span {
  font-weight: bold;
  color: #444;
  font-size: 1.25rem;
  margin-top: 1rem;
}

#containerVideoDescription span {
  margin: 1rem 0;
}

#containerVideoDescription {
  scroll-behavior: inherit !important
}

.videoTitleAndDescription {
  width: 560px;
}

#containerVideo {
  background-color: #333;
  height: 315px;
}

#containerScrollBtns {
  width: 560px;
  margin: .5rem auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {

  iframe,
  #containerVideo {
    height: 225px;
  }

  .containerPortfolioScoll,
  .videoTitleAndDescription,
  #containerScrollBtns,
  iframe,
  #containerVideo {
    width: 400px;
  }
}

@media screen and (min-width: 835px) {

  iframe,
  #containerVideo {
    height: 450px;
  }

  .containerPortfolioScoll,
  .videoTitleAndDescription,
  #containerScrollBtns,
  iframe,
  #containerVideo {
    width: 800px;
  }
}

#containerScrollBtns input {
  width: 20%;
}

#containerScrollBtns input:hover {
  cursor: pointer;
}

footer {
  margin-top: auto;
  font-size: 0.8rem;
  padding: .25rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #333;
  color: #bbb
}

footer span a {
  color: #bbb
}

footer span a:hover {
  color: #fff
}