* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #333;
  background-color: #9995
}

header {}

header .containerLogoTitle {
  height: 100px;
  overflow: hidden;
}

.headerLogo {
  width: 100%;
}

.headerTitle {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  position: absolute;
  top: 50px;
  color: #ddd;
}

nav {
  display: flex;
  background-color: #333;
  justify-content: space-around;
}

.navbarLink {
  color: #ddd;
  text-decoration: none;
  padding: 1vw;
}

.navbarLink:hover {
  background-color: #444;
  color: #fff;
  border-bottom: 4px solid lightgreen;
}

.activeLink,
.activeLink:hover {
  background-color: #222;
  color: #fff;
  font-weight: bold;
  border-bottom: 4px solid green;
}

main {}

footer {
  border-top: 1px solid green;
  margin-top: auto;
  font-size: 0.8rem;
  padding: 4px;
}