* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #333;
  background-color: #9995
}

header {}

img {
  border: 2px solid darkgreen;
  box-shadow: 5px 5px 5px #3335
}

header .containerLogoTitle {
  height: 100px;
  overflow: hidden;
}

.headerLogo {
  width: 100%;
}

.headerTitle {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  position: absolute;
  top: 40px;
  color: #ddd;
  margin-left: 1rem
}

nav {
  display: flex;
  background-color: #333;
  justify-content: space-around;
}

.navbarLink {
  color: #ddd;
  text-decoration: none;
  padding: 1vw;
}

.navbarLink:hover {
  background-color: #444;
  color: #fff;
  border-bottom: 4px solid lightgreen;
}

.activeLink,
.activeLink:hover {
  background-color: #222;
  color: #fff;
  font-weight: bold;
  border-bottom: 4px solid green;
}

main {
  padding: 1rem;
}

.pageImg {
  float: right;
  margin: 0 1rem 1rem;
  width: 200px;
}

#homeImg {
  border-radius: 50%;
}

#educationImg {
  padding-bottom: 0;
}

#skillsImg {
  width: 300px;
}

@media screen and (max-width: 535px) {

  #educationImg,
  #skillsImg {
    float: none;
    width: 75%;
    padding: 0;
    display: block;
    margin: 0 auto 1rem;
  }

}

.educationGradYear {
  font-size: .9rem;
  vertical-align: bottom
}


li {
  margin-bottom: .5rem;
  list-style-type: circle;
}

li div span {
  display: inline-block;
}

#containerSkills {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

h4 {
  border-bottom: 1px solid darkgreen;
  width: fit-content;
  margin-bottom: 0;
}

.skillsUL {
  box-shadow: 5px 5px 5px #3335;
  border: 1px solid #3335;
  padding: .5rem;
  list-style-position: inside;
}

footer {
  border-top: 1px solid green;
  margin-top: auto;
  font-size: 0.8rem;
  padding: .25rem;
}