* {
  box-sizing: content-box;
}
#index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#slideshow-container {
  padding: 5px;
  border: 10px solid olive;
  background-color: #aaaa;
  border-radius: 5px;
  border-style: ridge;
  box-shadow: 5px 5px 5px gray;
}
#image1 {
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 0s infinite;
}
#image2 {
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 5s infinite;
}
#image3 {
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 10s infinite;
}
#image4 {
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 15s infinite;
}
#image5 {
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 20s infinite;
}

.animated-img,
img,
#slideshow-container {
  width: 600px;
  height: 400px;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#loading-bar-container {
  width: 600px;
  height: 10px;
  border: 1px solid red;
  position: absolute;
}
#slideshow-container:hover .animated-img {
  cursor: progress;
  animation-play-state: paused;
}

#slideshow-container::after {
  content: "Paused...";
  font-weight: bold;
  text-shadow: 1px 1px white;
  position: relative;
  opacity: 0;
}
#slideshow-container:hover::after {
  opacity: 1;
}
