* {
  box-sizing: content-box;
}
#index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#slideshow-container {
  padding: 10px;
  border: 10px solid darkgreen;
  background-color: lightgrey;
  border-radius: 5px;
  border-style: ridge;
  box-shadow: 5px 5px 5px gray;
}
#image1 {
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 0s infinite;
}
#image2 {
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 5s infinite;
}
#image3 {
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 10s infinite;
}
#image4 {
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 15s infinite;
}
#image5 {
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 20s infinite;
}

img,
#slideshow-container {
  width: 600px;
  height: 400px;
  border-radius: 10px;
}

#loading-bar-container {
  width: 600px;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#loading-bar {
  width: 610px;
  height: 15px;
  animation: loading 25s linear 0s infinite;
  z-index: -1;
  position: relative;
  left: -600px;
}

#slideshow-container:hover .animated-img,
#slideshow-container:hover + #loading-bar-container div {
  cursor: progress;
  animation-play-state: paused;
}

#slideshow-container::after {
  content: "Paused...";
  font-weight: bold;
  text-shadow: 1px 1px white;
  position: relative;
  margin-left: 5px;
  margin-top: 5px;
  opacity: 0;
}
#slideshow-container:hover::after {
  opacity: 1;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    left: -600px;
    background-color: lightgreen;
  }

  100% {
    left: 0px;
    background-color: darkgreen;
  }
}
