#index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#slideshow-container {
  padding: 5px;
  border: 10px solid olive;
  background-color: #aaaa;
  border-radius: 5px;
  border-style: ridge;
  box-shadow: 5px 5px 5px gray;
  height: 200px;
  width: 400px;
}
#image1 {
  width: 400px;
  height: 200px;
  background-color: darkblue;
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 0s infinite;
}
#image2 {
  width: 400px;
  height: 200px;
  background-color: darkcyan;
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 5s infinite;
}
#image3 {
  width: 400px;
  height: 200px;
  background-color: darkgreen;
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 10s infinite;
}
#image4 {
  width: 400px;
  height: 200px;
  background-color: darkorange;
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 15s infinite;
}
#image5 {
  width: 400px;
  height: 200px;
  background-color: darkred;
  position: absolute;
  opacity: 0;
  animation: slide 25s linear 20s infinite;
}
#slideshow-container:hover .animated-img {
  cursor: progress;
  animation-play-state: paused;
}
#slideshow-container::after {
  content: "Paused...";
  font-weight: bold;
  position: relative;
  opacity: 0;
}
#slideshow-container:hover::after {
  opacity: 1;
}
@keyframes slide {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
